<div id="formAjouteProjet">
<h2>Création d'un nouveau projet</h2>
            <form action="#" method="post" accept-charset="utf-8">

                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7" style="padding-bottom: 10px;">
                            <input id="titre" class="form-control" name="titre" placeholder="Titre" type="text" required autofocus />
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7" style="padding-bottom: 10px;">
                            <input id="technologie" class="form-control" name="technologie" placeholder="Technologie" type="text" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7" style="padding-bottom: 10px;">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-7 nopadding">
                                                <textarea id="txtEditor"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                            <input id="nbEtudiant" class="form-control" name="nbEtudiant" placeholder="Nombre d'étudiant" type="number" required />

                    </div>



                <div class="row">
                    <label for="projFile" class="col-md-2">Importer votre projet :</label>
                    <input id="projFile" class="form-control-file" name="Sujet projet"  type="file" required />
                </div>



                    <div class="row">
                        <label for="choixAuteur" class="col-md-2">Auteur :</label>
                        <select id="choixAuteur" class="col-md-4 form-control" name="auteur">

                        </select>
                    </div>

                    <button id="enregistreProjet"> Enregistrer le projet : </button>
            </form>
</div>


