<div id="appProjet">
    <div class="row">
        <div class="col-md-10">
            <h1> Projets diponible</h1>
        </div>
    </div>

    <button id='ajouteProjet' data-toggle='modal' data-target='#proj' class='btn btn-primary btn-lg'> Ajouter un projet </button>

    <div class="table-container">
        <table class="table">
            <thead>
            <tr id="tableTitre">

                <td width="28%" class="colonneTitre">
                    Titre
                </td>

                <td width="20%" class="colonneTitre">
                    Auteur
                </td>

                <td width="20%" class="colonneTitre">
                    Thème
                </td>

                <td width="15%" class="colonneTitre">
                    Nb d'étudiants max
                </td>

                <td width="27%" class="colonneTitre">
                    Date
                </td>

                <td width="5%" class="colonneTitre">
                    Télécharger
                </td>
            </tr>
            </thead>

            <tbody id="tableauProjets">

            </tbody>

        </table>
    </div>
</div>