<div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
    <div class="logo">
        <a hef="home.html">
            <img src="../image/logo_uvhc.png" alt="Logo UVHC" class="hidden-xs hidden-sm">
        </a>
    </div>
    <div class="navi">
        <ul>
            <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Projet diponible</span></a></li>
            <li id="gestionEtudiant" ><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Gestion etudiant</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-briefcase" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Gestion professeur</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-book" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Gestion projet</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-large" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Gestion groupe</span></a></li>
        </ul>
    </div>
</div>